/***** SASS VARIABLES *****/

// Custom
$font-base:	'ITC Franklin Gothic', 'Franklin Gothic Medium', 'Franklin Gothic', Arial, sans-serif;
$font-bold:	'Franklin Gothic Medium', 'Franklin Gothic', Arial, sans-serif;
$font-quote: 'Sabon', Garamond, serif;

$text-color: #333;
$text-small: 0.7rem;
$text-base: 1rem;
$text-large: 1.4rem;
$text-xlarge: 1.8rem;

